@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #ea7664
  --black: #544f4f
  --beige: #f6f5f5
  --blue: #0072F5
}

//운영 체제에서 설정된 라이트/다크 모드를 실시간으로 감지
@media (prefers-color-scheme: dark) {
  :root {
    --red: #ea7664
    --black: #f6f5f5
    --beige: #544f4f
    --blue: #0072F5
  }
}

